<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ZhiMoney.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      
    </configSections>
  <!--Строка подключения к базе данных-->
  <connectionStrings>
    <add name="DbConnectionString" connectionString="data source=localhost\SQLEXPRESS;Initial Catalog=Money; Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <ZhiMoney.Properties.Settings>
            <setting name="PathPhotoUser" serializeAs="String">
                <value />
            </setting>
            <setting name="NameUser" serializeAs="String">
                <value />
            </setting>
            <setting name="SurnameUser" serializeAs="String">
                <value />
            </setting>
        </ZhiMoney.Properties.Settings>
    </userSettings>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
</configuration>